/* josefin-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/josefin-sans-v32-latin-300.woff2') format('woff2');
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/josefin-sans-v32-latin-600.woff2') format('woff2');
}

:root {
  --desaturated-orange: hsl(36 40% 47% / 1);
  --dark-blueish: hsl(220 35% 40% / 1);
  --body-font: "Josefin Sans", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(280deg 33% 3%);
  font-family: var(--body-font);
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.main-container {
  display: grid;
  grid-template-columns: 57.5% 1fr;
  height: 100vh;
}

.logo {
  height: 3.5rem;
  max-width: 100%;
}

/* Info Section */
.info-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 4rem 10.2rem;
  gap: 1rem;
  justify-content: space-evenly;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline;
  color: var(--dark-blueish);
  letter-spacing: 1.1rem;
  line-height: 4.2rem;
}

h1 span {
  color: var(--desaturated-orange);
  font-weight: 300;
}

.info-section p {
  position: relative;
  color: var(--desaturated-orange);
  line-height: 1.8rem;
  font-weight: 400;
  width: 85%;
  padding-top: 1.2rem;
}

.text-section {
  max-width: 550px;
  color: var(--desaturated-orange);
}

/* IMG Section */
.img-section {
  background-image: url("images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .main-container {
    grid-template-columns: 50% 1fr;
  }
}

@media screen and (max-width: 900px) {
  .info-section {
    display: initial;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 15% 50% 1fr;
    grid-template-areas:
      "icon"
      "hero"
      "info";
  }

  .img-section {
    grid-area: hero;
  }

  .logo {
    position: absolute;
    grid-area: icon;
    top: 5%;
    left: 5%;
  }

  .info-section {
    grid-area: info;
    position: initial;
    padding: 5rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .img-section {
    background-image: url("images/hero-mobile.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
